@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;


}


:root{
     --primary-text-color: #183b56;
     --secondory-text-color:#577592;
     --accent-color-dark:#1d69a3;
     --padding-inline-section:20px;
}
.body {
    font-family: "poppins",sans-serif;
    background-color: darkturquoise;
}

.p{
    font-family: "Roboto",sans-serif;
    color: var(--secondory-text-color);
    line-height: 1.4rem;
}
.a{
    text-decoration: none;
}
.ul{
    list-style: none;
}
.flex{
    display:flex ;
    align-items:center ;
    }
.container{
    max-width: 2300px;
    margin-inline: auto;
    overflow: hidden;
    max-width: max-content;

}
nav{
    background: linear-gradient(240deg,rgba(255, 192, 203, 0.177), #eaf34070,rgba(0, 0, 255, 0.067));
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top:0;
    z-index: 99;
    left: 0;
    right: 0;
}
.main-nav{
      justify-content: space-around;
    padding-block: 0px;
    background: linear-gradient(-240deg,pink, #eaf340,blue);
    animation: gradient 2ms ease infinite;
    height: 100px;
    max-width: max-content;
    background: linear-gradient(240deg,rgba(255, 192, 203, 0.177), #eaf34070,rgba(0, 0, 255, 0.067));
}
.company-logo img{
    width: 200px;
    border-radius: 200px;
    right: 0px;
}
.nav-links ul{
    gap: 60px;
}

.hover-link{
    cursor: pointer;
    font-style: italic;
    font-size: 50px;
    
}

.hover-link:hover{
    color: var(--secondory-text-color);
}
.hover-link:active{
    color: red;
}
.search-bar{
    height: 100px;
    gap: 50px;
    font-family: "Roboto",sans-serif;
}
.news-input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-family: "Roboto",sans-serif;
}
.search-button{
    height: 50px;
    width: 60px;
    background-color:yellow;
    color:blue;
    font-family: "Roboto",sans-serif;
    border-radius: 10px;

}
.conveyancing
{
align-items: var(10,20,30);
border-radius: 20px;
font-size: 20px;
font-style: italic;
height: 250px;
width: 1000px;
}
.slider {
    display: flex;
    overflow-x: hidden;
}
.card {
    text-align: 100px;
    flex: 0 0 auto;
    margin-right: 1em;
    width: 200px;
    height: 200px;
    background-color: #ceab11;
    color: white;
    text-align: center;
    line-height: 200px;
    border-top-right-radius: 60px;
    border-end-start-radius: 60px;
    font-size: 40px;
    font-display: var(--primary-text-color);
    background: linear-gradient(240deg,rgba(255, 192, 203, 0.177), #eaf34070,rgba(0, 0, 255, 0.067));
}
.card1{
    width: 850px;
    height: 200px;
   position: relative;
    background-color: #deb306;
    color: white;
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(240deg,rgba(255, 192, 203, 0.177), #eaf34070,rgba(0, 0, 255, 0.067));
    border-radius: 20px;
    line-height: 20px;
    padding: 50px;
    font-size: 20px;

}
.box{
    margin-top: 220px;

}
.hover-background-pink
{
    color: pink;
}
.slider2{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 60px;
    border-end-end-radius: 60px;
    background: linear-gradient(240deg,rgba(255, 192, 203, 0.177), #eaf34070,rgba(0, 0, 255, 0.067));
    text-align: center;
    font-size: 30px;
}
